
header {
    text-align: center;
}

.usersList tr {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;  
}

.usersList td {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
}

.usersList #name {
    width: 100px;
}
.usersList #username {
    width: 150px;
}
.usersList #email {
    width: 200px;
}
.usersList #group_id {
    width: 30px;
}
.usersList #abo {
    width: 30px;
}
.usersList #birth {
    width: 80px;
}

#SPmsg {
    color: red;
}

#calendar {
    width: 100%;    
    font-size: 13px;
    color: #404040;
    border: none;
}

.calendar a {
    color: #8e352e;
    text-decoration: none;
}

.calendar_header {
    border: none;
    width: 100%;
}

.calendar_header td {
    border: 0px solid black;
}

.calendar_header .weekBtn {
    width: 60px;
    height:23px;
}

.calendar_header td select {
    width: 130px;
    height: 23px;
    padding: 0;
}

.calendar {
    border: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 3px 3px 3px;
}

.calendar tr {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.calendar td {
    display: block;
    float: left;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #594a4a;
    border-radius:3px;
    margin-right: -1px;
    margin-bottom: -1px;
}

.calendar td .first-column {
    width: 100px;
}

.calendar tr.weekdays {
    height: 22px;
    background: #8e352e;
}

.calendar tr.weekdays td {
    text-align: center;
    text-transform: uppercase;
    line-height: 15px;
    border: none !important;
    padding: 10px 6px 5px px;
    color: #fff;
}

.calendar td.first-column {
    width: 50px;
}

.calendar .days td {
    height: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 3px 3px 3px;
}

.calendar .days td.day-hour {
    background: #ffdbdb;
    text-align: right;
}

.calendar .days td.day:hover {
    background: #d3d3d3;
}

.calendar .days td.day-past {
    color: #999999;
    background: #f5f5f5;
}

.calendar .days td.day-busy {
    background: #e6ffe6;
}

.calendar .days td.day-busy:hover {
    background: #e6efd6;
}

.calendar .days td.day-cours {
    background: #ff8a84;
}

.calendar .days td.day-manif {
    background: #3ccc37;
}

#message, #resType {
    top:20%; left:30%; background-color:lightyellow; 
    text-align:left; padding: 5px;
    border-radius:10px; border:solid 3px solid #000; opacity:30;
    margin: auto;
}

.calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

.calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;  
}

.calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

/* ============================
   Mobile Responsiveness
   ============================*/

/* @media(max-width: 950px) { */

/*     #calendar .weekdays, #calendar .other-month { */
/*         display: none; */
/*     } */

/*     #calendar td { */
/*         height: auto !important; */
/*         border: 1px solid #ededed; */
/*         width: 100%; */
/*         padding: 10px; */
/*         margin-bottom: -1px; */
/*     } */

/*     #calendar .date { */
/*         float: none; */
/*     } */
/* } */